<h1>New head</h1>

<%= error_messages_for :head %>

<% form_for(@head) do |f| %>
  <p>
    <b>Clause</b><br />
    <%= f.text_field :clause_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', heads_path %>
