<p>
  <b>Function:</b>
  <%=h @clause.function_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @clause.position %>
</p>


<%= link_to 'Edit', edit_clause_path(@clause) %> |
<%= link_to 'Back', clauses_path %>
