<h1>New function</h1>

<%= error_messages_for :function %>

<% form_for(@function) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', functions_path %>
