<h1>New body</h1>

<%= error_messages_for :body %>

<% form_for(@body) do |f| %>
  <p>
    <b>Clause</b><br />
    <%= f.text_field :clause_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bodies_path %>
