<p>
  <b>Application expr:</b>
  <%=h @primary_expr.application_expr_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @primary_expr.position %>
</p>


<%= link_to 'Edit', edit_primary_expr_path(@primary_expr) %> |
<%= link_to 'Back', primary_exprs_path %>
