<h1>New atomic_literal</h1>

<%= error_messages_for :atomic_literal %>

<% form_for(@atomic_literal) do |f| %>
  <p>
    <b>Primary expr</b><br />
    <%= f.text_field :primary_expr %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', atomic_literals_path %>
