<h1>New guard</h1>

<%= error_messages_for :guard %>

<% form_for(@guard) do |f| %>
  <p>
    <b>Head</b><br />
    <%= f.text_field :head_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', guards_path %>
