<h1>New application_expr</h1>

<%= error_messages_for :application_expr %>

<% form_for(@application_expr) do |f| %>
  <p>
    <b>Expression</b><br />
    <%= f.text_field :expression_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', application_exprs_path %>
