<h1>New mawjewl</h1>

<%= error_messages_for :mawjewl %>

<% form_for(@mawjewl) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mawjewls_path %>
