<p>
  <b>Atomic literal:</b>
  <%=h @string_literal.atomic_literal_id %>
</p>

<p>
  <b>Characters:</b>
  <%=h @string_literal.characters %>
</p>


<%= link_to 'Edit', edit_string_literal_path(@string_literal) %> |
<%= link_to 'Back', string_literals_path %>
